@import 'vars';
@import "base";

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $brand-secondary;
  background-color: $brand-black;
}
